{% extends "main.j2" %}
{% block content %}
<h1>Customers</h1>
<table>
  <thead><tr>{% for c in customers[0].keys() %}<th>{{ c }}</th>{% endfor %}</tr></thead>
  <tbody>
    {% for row in customers %}
      <tr>{% for v in row.values() %}<td>{{ v }}</td>{% endfor %}</tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}